---
layout: default
title: Home
---

<div class="categories">
<h3>Jump to category:</h3>
  <ul>
{% for list in site.data.lists %}
    <li><a href="#{{ list[1] | slugify }}">{{ list[1] }}</a></li>
{% endfor %}
  </ul>
</div>

{% for list in site.data.lists %}
  {% assign categoryId = list[0] %}
  {% assign category = list[1] %}
  <h2 id="{{ list[1] | slugify }}"><i class="icon-tag"></i> {{ category }}</h2>
  <div class="category {{ category }}">
      {% assign listCards = site.data.all | where:"idList", categoryId %}
      {% for card in listCards %}
        {% include card.html
          name = card.name
          list = category
          attachments = card.attachments
          desc = card.desc %}
      {% endfor %}
  </div>
{% endfor %}
