<div class="footer container">
  <div class="navbar pull-right">
    <ul class="nav-pills nav">
      <li>
        <a href="#top" class="scroll-link">Back to top</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="container">
      <div class="col-md-5 col-sm-6 col-xs-12">
        <a href="http://www.reliefweb.int" class="logo active"><h3 class="logo-footer text-hide">ReliefWeb</h3></a>
        <p class="footer-subtitle">Informing humanitarians worldwide.</p>
        <p>A service provided by
        <a href="http://www.unocha.org"><span class="ocha-logo-footer text-hide">OCHA</span></a></p>
        <p>ReliefWeb has been the leading online source for reliable and timely humanitarian information on global crises and disasters since 1996.<br /><a href="http://reliefweb.int/about">Learn more about ReliefWeb</a></p>
      </div>

      <div class="partners col-md-5 col-sm-6 col-xs-12 pull-right">

        <div class="footer-heading">Related Sites</div>

        <div class="partner-link"><a href="http://www.humanitarianresponse.info/" title="Humanitarian Response" class="related logo-humanitarianresponse" target="_blank"></a></div>
        <div class="partner-link"><a href="https://humdata.org/" title="Humanitarian Data Exchange" class="related logo-hdx" target="_blank"></a></div>
        <div class="partner-link"><a href="http://fts.unocha.org" title="Financial Tracking Service" class="related logo-fts" target="_blank"></a></div>
        <div class="partner-link"><a href="http://www.humanitarian.id" title="Humanitarian ID" class="related logo-hid" target="_blank"></a></div>
        <div class="partner-link"><a href="http://www.gdacs.org" title="Global Disaster Alert and Coordination System" class="related logo-gdacs" target="_blank"></a></div>
        <div class="partner-link"><a href="http://www.redhum.org" title="Red de Información Humanitaria para América Latina y el Caribe" class="related logo-redhum" target="_blank"></a></div>
        <div class="partner-link"><a href="http://www.inform-index.org" title="Inform Index" class="related logo-inform" target="_blank"></a></div>
        <div class="partner-link"><a href="http://www.unocha.org/cerf/" title="Central Emergency Response Fund" class="related logo-cerf" target="_blank"></a></div>
        <div class="partner-link"><a href="http://agendaforhumanity.org" title="Agenda for Humanity" class="related logo-afh" target="_blank"></a></div>
        <div class="partner-link"><a href="http://www.humanitarianinfo.org/iasc/" title="Inter-Agency Standing Committee" class="related logo-iasc" target="_blank"></a></div>
        <div class="partner-link"><a href="http://vosocc.unocha.org" title="Virtual OSOCC - real-time disaster coordination" class="related logo-vosocc" target="_blank"></a></div>
        <div class="partner-link"><a href="http://www.insarag.org" title="International Search and Rescue Advisory Group" class="related logo-insarag" target="_blank"></a></div>
        <div class="partner-link"><a href="http://www.preventionweb.net/" title="PreventionWeb" class="related logo-pw" target="_blank"></a></div>
        <div class="partner-link"><a href="http://www.kobotoolbox.org/" title="Kobo Toolbox" class="related logo-kobo" target="_blank"></a></div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col-md-12">
          <div class="row-fluid rw-copyright">&copy; {{ site.time | date: "%Y" }} ReliefWeb</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/scrolling.js"></script>
{% include analytics.html %}
