<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="title-image col-xs-8 col-sm-6 col-md-4">
        <a href="{{ site.baseurl }}/index.html">
          {% include logo.svg %}
<!--          <img src="{{ site.baseurl }}/img/rw-labs-logo.svg" alt="ReliefWeb Labs logo" class="img-responsive"> -->
        </a>
      </div>
      <div class="title-text col-xs-12 col-sm-6 col-md-8">

        <strong>Building the next generation of information tools for humanitarians</strong>
        <p class="intro-text">ReliefWeb Labs projects explore new and emerging opportunities to improve information delivery to humanitarians.</p>
        <form action="http://reliefweb.us5.list-manage.com/subscribe/post?u=bbba5e49a58c86ed484b5a084&id=acdc2d59ab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <label for="mce-EMAIL">Sign up for occasional emails about what we're working on.</label>
          <!--[if gte IE 7]><span class="placeholder"><em>Email Address:</em></span><![endif]-->
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </form>
      </div>
    </div>
  </div>
</div>
