<div class="card single-card">
  <h3>{{ include.name }}</h3>
  {% for attachment in include.attachments %}
    {% if attachment.name == "logo" %}
    <img src="{{ attachment.url }}">
    {% endif %}
  {% endfor %}
  <div class="type"><i class="icon-tag"></i> {{ include.list }}</div>

  <div class="description">
    {{ include.desc }}
  </div>

  <div class="links">
  {% for attachment in card.attachments %}
    {% if attachment.name == "listen" %}
    <a href="{{ attachment.url }}">iTunes link</a>
    {% endif %}
    {% if attachment.name == "rss" %}
    <a href="{{ attachment.url }}">RSS feed</a>
    {% endif %}
  {% endfor %}
  </div>

</div>
