---
layout: default
title: Home
---

{% for list in site.data.lists %}
  <p>Jump to category: <a href="#{{ list[1] }}">{{ list[1] }}</a></p>
{% endfor %}

{% for list in site.data.lists %}
  {% assign category = list[1] %}
  <div class="category {{ category }}">
    <h2 id="{{ list[1] }}">This is category {{ category }}</h2>
    {% assign listCards = site.data.all | where:"nameList", category %}
    {% for card in listCards %}
      {% include card.html
        url=card.url
        name = card.name
        list = card.nameList
        attachments = card.attachments
        desc = card.desc %}
    {% endfor %}
  </div>
{% comment %}
  <ul>
  {% for listCard in listCards %}
    <li>
    ListCard name: {{ listCard.name }}
    </li>
  {% endfor %}
  </ul>
{% endcomment %}

{% endfor %}

{% comment %}
  {% for card in site.data.all %}
    {% include card.html
      url=card.url
      name = card.name
      list = card.nameList
      attachments = card.attachments
      desc = card.desc %}
  {% endfor %}
{% endcomment %}


